:root {
    --color-white: hsl(0, 0%, 100%);
    --color-purple-100: hsl(275, 100%, 97%);
    --color-purple-600: hsl(292, 16%, 49%);
    --color-purple-950: hsl(292, 42%, 14%);
    --color-pink: hsl(281, 71%, 56%);

    --fontWeight-small: 400;
    --fontWeight-semibold: 600;
    --fontWeight-bold: 700;

    --fontSize-sm: 0.875rem;
    --fontSize-md: 1rem;
    --fontSize-lg: 1.25rem;

}

body {
    position: relative;
    height: 100vh;
    background-color: var(--color-purple-100);
}

.pattern {
    width: 100%;
}

.faq-conteiner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: min(90%, 540px);

    background-color: var(--color-white);
    padding: 1rem;
    border-radius: 1rem;
}

.title-container {
    display: flex;
    gap: 0.5rem;
}

.title {
    color: var(--color-purple-950);
    font-size: 2.5rem;
    font-weight: var(--fontWeight-bold);
}

.answer {
    display: none;
}

.questions-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.question {
    display: flex;
    gap: 0.5rem;
    cursor: pointer;
    justify-content: space-between;
    padding: 1rem;
}

.question h2 {
    color: var(--color-purple-950);
    font-size: var(--fontSize-lg);
    font-weight: var(--fontWeight-bold);
}

.question:hover h2{
    color: var(--color-pink);
}